.search-area {
  height: 56px;
  border-radius: 2px;
  flex: none;
}
.results-area {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
  border-radius: 4px;
  min-height: 450px;
}

.target-name {
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 5px;
  margin-bottom: 18px;
  font-weight: 300;
  opacity: 0.85;
}

.target-info {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .highcharts-credits {
    display: none;
  }
  .highcharts-creditos {
    font-size: 10px;
    color: #ccc;
    text-decoration: none;
    text-align: right;
  }
  .target-name {
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 30px;
  }
}

.target-name-chip {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}


@media (min-width: 1264px) {
  .comment-list {
    max-height: 420px;
    overflow-y: auto;
  }
}