<v-container style="display: flex; flex-direction: column;">  
  <v-layout row align-center class="white elevation-1 search-area pl-3 pr-4 mr-0">
    <v-combobox
      v-model='reviewTarget'
      :search-input.sync="search"
      :items="entries"
      :multiple="false"
      chips
      clearable
      hide-details
      hide-selected
      item-text="name"
      item-value="symbol"
      placeholder="Digite o nome do professor ou disciplina"
      class="pt-0 search-review-input"
      return-object
      append-icon=""
    >
      <div slot="prepend">
        <v-progress-circular v-if='loadingSearch' indeterminate color="primary" size="24" width="2"></v-progress-circular>
        <v-icon v-else>search</v-icon>
      </div>
    </v-combobox>
  </v-layout>

  <v-layout column class="results-area white mt-3">
    {{ reviewTarget}} 
  </v-layout>
</v-container>
