.donate-container {
  font-family: Lato, Roboto;
}

.donate-btn {
  font-family: Ubuntu;
  color: white !important;
  width: 80%;
  height: 50px;
  font-size: 25px;
  align-self: center;
  border-radius: 20px;
}

.donate-dialog-card {
  padding: 20px;
  border-radius: 10px;
  transition: all 2s;
}

.donate-dialog-card-header {
  display: flex;
  justify-content: space-between;
}

.donate-dialog-card-title {
  font-weight: 500;
  padding-top: 30px;
  font-size: 30px;
}

.donate-dialog-card-close {
  align-items: flex-start;
}

.donate-dialog-card-content {
  margin: 20px 0 20px 0;
  justify-content: flex-end;
  display: flex;
  transition: all 1s;
}

.donate-dialog-card-account {
  flex: 1;
  flex-direction: column;
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  font-size: 22px;
  line-height: 20px;
  transition: all 1s;
}

.donate-dialog-card-qrcode {
  text-align: center;
  transition: all 1s;
}

.donate-dialog-card-description-line {
  margin-bottom: 20px;
}

.donate-dialog-card-footer {
  font-size: 18px;
  text-align: center;
}
