.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.dialog-open-btn {
  font-family: Ubuntu;
  color: white !important;
  width: 80%;
  height: 50px;
  font-size: 25px;
  align-self: center;
  border-radius: 20px;
}

.dialog-content {
  padding: 20px;
  border-radius: 10px;
  transition: all 2s;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
}

.dialog-title {
  font-weight: 500;
  padding-top: 30px;
  font-size: 30px;
}

.dialog-close-btn {
  align-items: flex-start;
}

.dialog-body {
  margin: 20px 0 20px 0;
  display: flex;
  transition: all 1s;
}

.dialog-body-qrcode {
  text-align: center;
  transition: all 1s;
}

.dialog-body-account {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 22px;
  line-height: 20px;
  transition: all 1s;
}

.dialog-body-account-item {
  margin-bottom: 20px;
}

.dialog-footer {
  font-size: 18px;
  text-align: center;
}
