<div class="column flex" v-loading='loading' style="height: 100%; justify-content: center; overflow: hidden;">
  <div class="white" v-if='(history && history.length) || !loadedHistory' style="display: flex; flex-direction: column; flex: 1 1 auto; overflow: hidden;">
    <div class="px-4 pt-4 pb-0">
      <h2 class="relationship-title ufabcnext-primary--text mb-2">
        Minhas Conexões
        <el-tooltip effect="dark" placement="bottom">
          <div slot="content" style="text-align: center;">
            Encontre as pessoas que você<br /> mais faz disciplinas junto<br /><br />
            <i>* O número de disciplinas é calculado com base<br /> nos usuários que utilizam a extensão</i>
          </div>
          <i class="el-icon-question" style="font-size: 24px; color: #d1d1d1;"></i>
        </el-tooltip>
      </h2>
    </div>
    <div class="row">
      <el-select
        v-model="filter"
        @change="fetch($event)"
        v-if='$vuetify.breakpoint.xsOnly'
        class="mx-4 mb-4 mt-2"
        style="width: 100%;">
        <el-option
          v-for="filter in filters"
          :value="filter.value"
          :label="filter.label"
          :key="filter.value">
        </el-option>
      </el-select>

      <el-tabs
        centered
        color="#fff"
        class="relationship-filters flex"
        @tab-click="fetch($event)"
        v-model="filter"
        v-else
      >
        <el-tab-pane
          v-for='filter in filters'
          :name="filter.value"
          :label="filter.label"
          :key="filter.value">
        </el-tab-pane>
      </el-tabs>
    </div>
    <div id="cy"></div>
    <div class="px-4 elevate-3 py-4" style="display: flex; flex-wrap: wrap; justify-content: center; z-index: 1;">
      <div class="legend mr-3" v-for="legend in legends">
        <div
          class="legend-ball mr-1"
          :style="{'backgroundColor': legend.color }"
        ></div>
        {{ legend.label }}
      </div>
      <div class="legend">
        <div class="legend-number">99</div>
        Qtd de disciplinas feitas
      </div>
    </div>
  </div>

  <div style="text-align: center;" v-else-if='!loading'>
    <h2>Parece que não encontramos os dados do seu histórico :( <br />
       É necessário instalar a <a href="https://chrome.google.com/webstore/detail/ufabc-matricula/gphjopenfpnlnffmhhhhdiecgdcopmhk" style="text-decoration: none;" target="_blank">extensão</a> e acessar a tela de Fichas Individuais no <a href="https://aluno.ufabc.edu.br/fichas_individuais" target="_blank" style="text-decoration: none;">Portal do Aluno.</a></h2>
      <img src="@/assets/missing_history.svg" width="100%" />
    </center>
  </div>
</div>