<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628117555151-kug94k9a9e3qob65k9c38k7g8636rorl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628117555151-kug94k9a9e3qob65k9c38k7g8636rorl</string>
	<key>API_KEY</key>
	<string>AIzaSyDX-jAdgkdVGjh3GI2i70JwpEnt3URYyw8</string>
	<key>GCM_SENDER_ID</key>
	<string>628117555151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ufabcnext</string>
	<key>PROJECT_ID</key>
	<string>ufabc-next</string>
	<key>STORAGE_BUCKET</key>
	<string>ufabc-next.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628117555151:ios:b5ce3c21857ef007e9f4ba</string>
	<key>DATABASE_URL</key>
	<string>https://ufabc-next.firebaseio.com</string>
</dict>
</plist>