{
  "root": true,
  "extends": ["custom"],
  "overrides": [
    {
      "files": ["app.ts", "server.ts"],
      "rules": {
        "@typescript-eslint/no-floating-promises": "off"
      }
    }
  ]
}
