{
  "root": true,
  "extends": ["custom"],
  "overrides": [
    {
      "files": ["src/app.ts", "src/server.ts"],
      "rules": {
        "@typescript-eslint/no-floating-promises": "off"
      }
    }
  ],
  "rules": {
    "@typescript-eslint/consistent-type-imports": ["error"]
  }
}
