.history-title {
  min-height: 36px;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: normal;
  font-family: Lato, Roboto;
}

.history-text {
  font-family: Lato, Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.75);
}

.history-chips {
  display: flex;
}
@media (max-width: 600px) {
  .history-chip {
    font-size: 13px!important;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}

.history-chip {
  min-height: 48px;
  border-radius: 2px;
  background-color: #f3f6f7;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 8px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.75);
}

.ra-icon {
  font-family: Lato, Roboto;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-right: 8px;
}

.history-complete {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.season-title {
  height: 36px;
  font-family: Lato;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.91;
  letter-spacing: normal;
  color: #000000;
  padding-left: 24px;
}

.concept-in-history {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  margin-left: -14px;
}
.subject-in-history {
  word-break: break-word;
}
.subject-in-history.disapproved {
  color: #f45576;
}

.teacher-in-history {
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-left: -24px;
  word-break: break-word;
  height: 36px;
  display: flex;
  align-items: center;
}
.teacher-in-history.insert-teacher {
  margin: 0px;
  padding: 0px;
  width: 100%;
  margin-left: -14px;
  justify-content: center;
}
.teacher-in-history > span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  height: 22px;
}
.credits-in-history {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  padding-right: 24px;
}