# The following redirect is intended for use with most SPA's that handles routing internally.
[[redirects]]
  from = "/app/*"
  to = "/app/index.html"
  status = 200
  force = true # Ensure that we always redirect