/* 
  Borders
*/
.border-right {
  border-right: 1px solid rgba(0,0,0,0.07)!important;
}
.border-left {
  border-left: 1px solid rgba(0,0,0,0.07) !important;
}
.border-top {
  border-top: 1px solid rgba(0,0,0,0.07)!important;
}
.border-bottom {
  border-bottom: 1px solid rgba(0,0,0,0.07)!important;
}
.border {
  border: 1px solid rgba(0,0,0,0.07)!important; 
}

.border-right-lighten-3 {
  border-right: 3px solid #f4f5f7!important;
}
.border-left-lighten-3 {
  border-left: 3px solid #f4f5f7!important;
}
.border-top-lighten-3 {
  border-top: 3px solid #f4f5f7!important;
}
.border-bottom-lighten-3 {
  border-bottom: 3px solid #f4f5f7!important;
}
.border-lighten-3 {
  border: 3px solid #f4f5f7!important; 
}

.no-border { 
  border: none !important;
}