:root {
  --ufabcnext-green: #3fcf8c;
  --ufabcnext-blue: #4F60ED;
  --ufabcnext-darkgrey: rgba(0,0,0,0.8);
  --ufabcnext-yellow: #ffcb17;
  --ufabcnext-grey: rgba(0,0,0,0.5);
  --ufabcnext-lightgrey: rgba(0,0,0,0.3);
  --ufabcnext-navigation: #215096; /*#4527A0;*/
  --ufabcnext-red: #e17472;
  --ufabcnext-nav-blue: #409EFF;
  --ufabcnext-like: #909090;
  --ufabcnext-liked: #065fd4;
  --ufabcnext-primary: #2e7eed;
  --ufabcnext-secondary: #393e56;
  --ufabcnext-charcoal-grey: #323544;
}


/*
 * Colors to components
 */
/* 
  Green - Text color, border color and background color
*/
.ufabcnext-green {
  background-color: var(--ufabcnext-green) !important;
}
.ufabcnext-green-outline {
  border-color: var(--ufabcnext-green) !important;
}
.ufabcnext-green--text {
  color: var(--ufabcnext-green) !important;
}


/* 
  Blue - Text color, border color and background color
*/
.ufabcnext-blue {
  background-color: var(--ufabcnext-blue) !important;
}
.ufabcnext-blue-outline {
  border-color: var(--ufabcnext-blue) !important;
}
.ufabcnext-blue--text {
  color: var(--ufabcnext-blue) !important;
}

/* 
  Grey - Text color, border color and background color
*/
.ufabcnext-grey {
  background-color: var(--ufabcnext-grey) !important;
}
.ufabcnext-grey-outline {
  border-color: var(--ufabcnext-grey) !important;
}
.ufabcnext-grey--text {
  color: var(--ufabcnext-grey) !important;
}


/* 
  Light Grey - Text color, border color and background color
*/
.ufabcnext-lightgrey {
  background-color: var(--ufabcnext-lightgrey) !important;
}
.ufabcnext-lightgrey-outline {
  border-color: var(--ufabcnext-lightgrey) !important;
}
.ufabcnext-lightgrey--text {
  color: var(--ufabcnext-lightgrey) !important;
}

/* 
  Dark Grey - Text color, border color and background color
*/
.ufabcnext-darkgrey {
  background-color: var(--ufabcnext-darkgrey) !important;
}
.ufabcnext-darkgrey-outline {
  border-color: var(--ufabcnext-darkgrey) !important;
}
.ufabcnext-darkgrey--text {
  color: var(--ufabcnext-darkgrey) !important;
}


/* 
  Yellow - Text color, border color and background color
*/
.ufabcnext-yellow {
  background-color: var(--ufabcnext-yellow) !important;
}
.ufabcnext-yellow-outline {
  border-color: var(--ufabcnext-yellow) !important;
}
.ufabcnext-yellow--text {
  color: var(--ufabcnext-yellow) !important;
}

/* 
  Light Grey - Text color, border color and background color
*/
.ufabcnext-navigation {
  background-color: var(--ufabcnext-navigation) !important;
}
.ufabcnext-navigation-outline {
  border-color: var(--ufabcnext-navigation) !important;
}
.ufabcnext-navigation--text {
  color: var(--ufabcnext-navigation) !important;
}

/* 
  Red - Text color, border color and background color
*/
.ufabcnext-red {
  background-color: var(--ufabcnext-red) !important;
}
.ufabcnext-red-outline {
  border-color: var(--ufabcnext-red) !important;
}
.ufabcnext-red--text {
  color: var(--ufabcnext-red) !important;
}


/* 
  Nav blue - Text color, border color and background color
*/
.ufabcnext-nav-blue {
  background-color: var(--ufabcnext-nav-blue) !important;
}
.ufabcnext-nav-blue-outline {
  border-color: var(--ufabcnext-nav-blue) !important;
}
.ufabcnext-nav-blue--text {
  color: var(--ufabcnext-nav-blue) !important;
}

/*
  Link color - Text color, border color and background color
*/

.ufabcnext-link {
  background-color: #4a90e2 !important;;
}
.ufabcnext-link-outline {
  border-color: #4a90e2 !important;
}
.ufabcnext-link--text {
  color: #4a90e2 !important;
}
/* 
  Like - Text color, border color and background color
*/
.ufabcnext-like {
  background-color: var(--ufabcnext-like) !important;
}
.ufabcnext-like-outline {
  border-color: var(--ufabcnext-like) !important;
}
.ufabcnext-like--text {
  color: var(--ufabcnext-like) !important;
}

/* 
  Liked - Text color, border color and background color
*/
.ufabcnext-liked {
  background-color: var(--ufabcnext-liked) !important;
}
.ufabcnext-liked-outline {
  border-color: var(--ufabcnext-liked) !important;
}
.ufabcnext-liked--text {
  color: var(--ufabcnext-liked) !important;
}

/*
  Primary - Text color, border color and background color
*/
.ufabcnext-primary {
  background-color: var(--ufabcnext-primary) !important;;
}
.ufabcnext-primary-outline {
  border-color: var(--ufabcnext-primary) !important;
}
.ufabcnext-primary--text {
  color: var(--ufabcnext-primary) !important;
}

/*
  Secondary - Text color, border color and background color
*/
.ufabcnext-secondary {
  background-color: var(--ufabcnext-secondary) !important;;
}
.ufabcnext-secondary-outline {
  border-color: var(--ufabcnext-secondary) !important;
}
.ufabcnext-secondary--text {
  color: var(--ufabcnext-secondary) !important;
}

/*
  Charcoal-grey - Text color, border color and background color
*/
.ufabcnext-charcoal-grey {
  background-color: var(--ufabcnext-charcoal-grey) !important;;
}
.ufabcnext-charcoal-grey-outline {
  border-color: var(--ufabcnext-charcoal-grey) !important;
}
.ufabcnext-charcoal-grey--text {
  color: var(--ufabcnext-charcoal-grey) !important;
}