/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #666; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.hover-parent .hover-show-translucid {
  opacity: 0.1;
  transition: opacity 0.2s;
}

.hover-parent .hover-show {
  opacity: 0.0;
  transition: opacity 0.2s;
}

.hover-parent:hover .hover-show,
.hover-parent:hover .hover-show-translucid {
  opacity: 1;
  transition-duration: 0.4s;
}

.hover-parent .hover-hide {
  opacity: 1;
  transition: opacity 0.2s;
}

.hover-parent:hover .hover-hide {
  opacity: 0;
  transition-duration: 0.4s;
}

.elevate-3d {
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}
.elevate-3d:hover {
  box-shadow: 0px 5px 26px -4px rgba(0, 0, 0, 0.2) !important;
  transform: translateY(-3px);
}