/*
 * Selection helpers
 */
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

.no-selection {
  user-select: none !important;
}

/* 
 * Text Helpers
 */
.italic {
  font-style: italic !important;
}

.bold {
  font-weight: bold !important;
}

.underline {
  text-decoration: underline !important;
}

.no-decoration {
  text-decoration: none !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.ellipsis-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.translucid {
  opacity: 0.6;
}

.uppercase {
  text-transform: uppercase !important;
}

.no-uppercase {
  text-transform: unset !important;
}

.monospace {
  font-family: monospace !important;
}

.row > .ellipsis {
  width: 0;
}

/*
 * Text Align
 */
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.textTransformInitial {
  text-transform: initial;
}
.textTransformUppercase {
  text-transform: uppercase;
}
.textTransformLowercase {
  text-transform: lowercase;
}

.cursor-pointer {
  cursor: pointer
}
.cursor-not-allowed {
  cursor: not-allowed;
}

/*
 * Text highlighting
 */
span.hl {
  /*background-color: #fbeb72;*/
  font-weight: bold;
  line-height: 1em;
  padding: 0 0 1px;
  background: inherit;
  box-shadow: inset 0 -2px 0 0 rgba(69,142,225,.8);
  color: inherit;
}

.hidden {
  display: none !important;
}

/*
 * Typo
 */
h2, .h2 {
  font-size: 18px;
  font-weight: 400;
}

h3, .h3 {
  font-size: 16px;
  font-weight: 400;
}

h3, .h3 {
  font-size: 16px;
  font-weight: 400;
}

.text-regular {
  font-size: 14px;
}

.text-small {
  font-size: 13px;
}

.text-smaller {
  font-size: 12px;
}

.outline-none {
  outline: none;
}

.inherit--text {
  color: inherit !important;
}

label {  
  font-size: 12px;
  color: rgba(0,0,0,.54);
}


/*
 * Font helpers
 */

.f-10 {
  font-size: 10px!important;
}

.f-12 {
  font-size: 12px!important;
}

.f-14 {
  font-size: 14px!important;
}

.f-16 {
  font-size: 16px!important;
}

.f-18 {
  font-size: 18px!important;
}

.f-20 {
  font-size: 20px!important;
}

.f-22 {
  font-size: 22px!important;
}

.f-24 {
  font-size: 24px!important;
}

.f-26 {
  font-size: 26px!important;
}

.f-32 {
  font-size: 32px!important;
}

.f-36 {
  font-size: 36px!important;
}

.f-40 {
  font-size: 40px!important;
}