
/* 
 * VAutocomplete to search reviews of teachers and disciplines
 */
.search-review-input.v-text-field > .v-input__control > .v-input__slot:before,
.search-review-input.v-text-field > .v-input__control > .v-input__slot:after{
  display: none;
}
.search-review-input.v-select.v-select--is-menu-active .v-input__icon--append .v-icon {
  transform: none;
}
.search-review-input.v-text-field .v-input__prepend-outer,
.search-review-input.v-text-field .v-input__append-inner {
  margin-top: 8px;
  margin-top: 8px;
}
.search-review-input.v-text-field .v-select__selections {
  flex-direction: row;
  flex-wrap: nowrap;
}
.v-chip.target-chip .v-chip__content {
  white-space: initial;
}


.chart-large {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 16px;
}

@media (max-width: 600px) { 
  .chart-large{
    margin-top: 0px;
  }
}

.review-button.v-btn {
  margin: 0px;
  margin-left: 8px;
  width: 30px;
  height: 30px;
}


/* Custom Card elevations */
.elevate-3d {
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}
.elevate-3d:hover {
  box-shadow: 0px 5px 26px -4px rgba(0, 0, 0, 0.2) !important;
  transform: translateY(-3px);
}
.elevate-1 {
  box-shadow: 0 1px 4px -1px rgba(0,0,0,.2) !important
}

.elevate-2 {
  box-shadow: 0 2px 7px -1px rgba(0,0,0,.2) !important;
}

.elevate-3 {
  box-shadow: 0px 5px 26px -4px rgba(0, 0, 0, 0.2) !important;
}
.toggle-sort-teachers.v-btn-toggle .v-btn.v-btn--active{
  opacity: 1;
}

/* Custom Card elevations */
.elevate-3d {
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}
.elevate-3d:hover {
  box-shadow: 0px 5px 26px -4px rgba(0, 0, 0, 0.2) !important;
  transform: translateY(-3px);
}
.elevate-1 {
  box-shadow: 0 1px 4px -1px rgba(0,0,0,.2) !important
}

.elevate-2 {
  box-shadow: 0 2px 7px -1px rgba(0,0,0,.2) !important;
}

.elevate-3 {
  box-shadow: 0px 5px 26px -4px rgba(0, 0, 0, 0.2) !important;
}

.elevate-anim {
  transition: box-shadow 0.2s ease-in-out,
              transform 0.3s ease-in-out,
              opacity 0.3s ease-in-out;
}


.settings-button {
  text-transform: initial; 
  width: 130px; 
  height: 48px;
}