.title-settings {
  font-family: Lato, Roboto;
  font-size: 28px;
}

.username-settings {
  font-family: Lato, Roboto;
  line-height: 1.5;
  font-size: 26px;
  height: 45px;
  color: #444;
}

.email-settings {
  font-family: Lato, Roboto;
  color: #676767;
  font-size: 16px;
}

.createdAt-settings {
  font-family: Lato, Roboto;
  color: #676767;
  font-size: 16px;
}

.title-box-settings {
  font-family: Lato, Roboto;
  color: #444;
  font-size: 26px;
}
.text-box-settings {
  color: #676767;
  font-size: 16px;
}

.links-settings {
  display: flex;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
}

.add-account {
  border: 2px dashed #1976d2;
  padding: 2px;
  border-radius: 6px;
}