<v-container style="display: flex; flex-direction: column;" v-loading='loading'>  
  <div class="title-settings mb-3">Configurações da conta</div>

  <v-layout 
    wrap 
    row 
    class="mb-4" 
    :style="{'textAlign': $vuetify.breakpoint.smAndDown ? 'center' : 'left'}"
    style="border: 2px solid #f1f1f1; padding: 2rem; border-radius: 3px; background: white"> 
    <v-flex 
      class="mb-3" 
      :style="{'maxWidth': $vuetify.breakpoint.smAndDown ? '100%' : '142px' }" 
      style="width: 100%;">
      <v-avatar :size="80" color="primary" class="white--text" style="font-size: 32px; text-transform: uppercase;">
        {{ userInitials }}
      </v-avatar>
    </v-flex>
    <v-flex class="mb-3" :style="{ 'width': $vuetify.breakpoint.smAndDown ? '100%': ''}">
      <div class="username-settings">
        {{ userLogin }}
      </div>
      <div class="email-settings">
        {{ user.email }}
      </div>
      <div class="createdAt-settings">
        Usuário desde {{ user.createdAt | moment('DD/MM/YYYY - HH:ss') }}
      </div>
      <a href="" target="_blank" class="links-settings" v-if='user.oauth && user.oauth.facebook'>
        Conta do Facebook associada
        <v-icon color="ufabcnext-green">mdi-check</v-icon>
      </a>

      <a href="" target="_blank" class="links-settings" v-if='user.oauth && user.oauth.google'>
        Conta do Google associada
        <v-icon color="ufabcnext-green">mdi-check</v-icon>
      </a>
    </v-flex>
    <v-flex>
      <v-layout row wrap :class="$vuetify.breakpoint.smAndDown ? 'justify-center' : 'justify-end'">
<!--         <v-btn class="settings-button" depressed color="#ececec" style="color: #676767">
          Editar Perfil
        </v-btn> -->
        <v-btn class="settings-button error--text" outline color="error" @click="removeAccount()"> 
          Desativar Conta
        </v-btn>
      </v-layout>
    </v-flex>
  </v-layout>

  <v-layout column style="border: 2px solid #f1f1f1; padding: 2rem; border-radius: 3px; background: white"> 
    <h2 class="title-box-settings mb-3">Segurança e controle dos dados</h2>    
    <p class="text-box-settings">
      Todos os seus dados que armazenamos (RA, histórico e avaliações) poderão ser excluídos a qualquer momento e você tem controle total sobre eles. Ao desativar sua conta, suas avaliações <b>não serão perdidas</b>.    </p>

  </v-layout>

</v-container>