/* Keep in mind that when you inject main.css you inject all this files to the website */
@import "../../node_modules/toastr/build/toastr.min.css";

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

#sessao {
  display: none;
}

.ufabc-extension-font {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}

.ufabc-extension-prof {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

.ufabc-well {
    min-height: 20px;
    border: 1px solid;
    border-radius: 4px;
}

.ufabc-well a {
    color: #F39C12 !important;
}

.ufabc-orange {
    color: #fff;
    background-color: #f39c12;
    border-color: #f39c12;
}

.ufabc-red {
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.ufabc-green {
    background-color: #18bc9c;
    border-color: #18bc9c;
    color: #fff
}

.ufabc-blue {
    background-color: #3498db;
    border-color: #3498db;
    color: #fff
}

.ufabc-purple {
    background-color: #4d3a7d;
    border-color: #4d3a7d;
    color: #fff
}

.ufabc-transparent {
    background-color: transparent;
    border-color: transparent;
}

.extension {
    border: 2px solid #428bca;
    padding: 7px 14px;
}

.notSearch {
    display: none;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.list-group-item{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: none !important;
}

.notAndre {
    display: none;
}

.notBernardo {
    display: none;
}

.notMatutino {
    display: none;
}

.notNoturno {
    display: none;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.my_data {
    display: none;
}

.notHigh {
    display: none;
}





/* Grid helpers */
.ufabc-flex {
  flex: 1 1 auto;
}

.ufabc-no-flex {
  flex: none !important;
}

.ufabc-no-shrink {
  flex-shrink: 0;
}

.ufabc-no-grow {
  flex-grow: 0;
}

.ufabc-column {
  display: flex;
  flex-direction: column;
}

.ufabc-row {
  display: flex;
  flex-direction: row;
}

.ufabc-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.ufabc-row > .ufabc-scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
  width: 0;
}
.ufabc-column > .ufabc-scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
  height: 0;
}

/*
  Flexbox helpers
*/
.ufabc-justify-top {
  justify-content: flex-start;
}
.ufabc-justify-middle {
  justify-content: center;
}
.ufabc-justify-bottom {
  justify-content: flex-end;
}


.ufabc-align-start {
  align-items: flex-start;
}
.ufabc-align-center {
  align-items: center;
}
.ufabc-align-end {
  align-items: flex-end;
}

.ufabc-float-right {
  float: right;
}

.ufabc-float-left {
  float: left;
}

.ufabc-float-none {
  float: none;
}
/* 
  Divider styles 
*/
.ufabc-column > .ufabc-divider {
  flex: 0;
}

.ufabc-divider-overlay-below {
  position: relative;
  top: 1px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.06) !important
}

/* 
  Positions helpers
*/
.ufabc-static {
  position: static;
}
.ufabc-relative {
  position: relative;
}
.ufabc-absolute {
  position: absolute;
}
.ufabc-fixed {
  position: fixed;
}

/* 
  Flexbox helpers 
*/
.ufabc-flex-wrap {
  flex-wrap: wrap;
}
.ufabc-space-around {
  justify-content: space-around;
}


.ufabc-element-switch  .el-switch__label *{
  font-size: 13px;
}