<v-container style="display: flex; flex-direction: column; min-height: 100%;">  
    <v-layout class="card-group-stats" row style="min-height: 145px; flex: none" :class="{ 'wrap': !$vuetify.breakpoint.lgOnly }">
      <v-flex xs12 lg3 class="card-stats" justify-center>
        <div class="stats-counter" justify-center v-if='$vuetify.breakpoint.lgOnly'>
          {{ prettySeason }}
        </div>
        <div class="stats-counter text-center" v-else>{{ prettySeason }}</small></div>
      </v-flex>
  
      <v-flex xs12 sm3 md3 lg3 class="card-stats" v-if='usage'>
        <v-icon class="mb-1" color="ufabcnext-green" style="display: block;"size="40px">mdi-emoticon-happy-outline</v-icon>
        <div class="enrollments-title stats-counter">2 Matérias</div>
        <div class="stats-subtitle">sem risco de chute</div>
        <div>
          <v-progress-linear
            color="ufabcnext-green"
            height="6"
            :value="100"
            style="border-radius: .25rem;"
          ></v-progress-linear>
        </div>
      </v-flex>
  
      <v-flex xs12 sm3 md3 lg3 class="card-stats" v-if='usage'>
        <v-icon class="mb-1" color="ufabcnext-yellow" style="display: block;"size="40px">mdi-emoticon-neutral-outline</v-icon>
        <div class="enrollments-title stats-counter">1 Matéria</div>
        <div class="stats-subtitle">com risco de chute</div>
        <div v-if='!$vuetify.breakpoint.xsOnly'>
          <v-progress-linear
            color="ufabcnext-yellow"
            height="6"
            value="100"
            style="border-radius: .25rem;"
          ></v-progress-linear>
        </div>
      </v-flex>
  
      <v-flex xs12 sm3 md3 lg3 class="card-stats" v-if='usage'>
        <v-icon class="mb-1" color="ufabcnext-red" style="display: block;" size="40px">mdi-emoticon-sad-outline</v-icon>
        <div class="enrollments-title stats-counter">1 Matéria</div>
        <div class="stats-subtitle">com certeza de chute</div>
        <div v-if='!$vuetify.breakpoint.xsOnly'>
          <v-progress-linear
            color="ufabcnext-red"
            height="6"
            value="100"
            style="border-radius: .25rem;"
          ></v-progress-linear>
        </div>
      </v-flex>
  
      <v-flex xs12 sm3 md3 lg3 class="card-stats" v-if='overview'>
        <v-icon class="mb-1" color="ufabcnext-red" style="display: block;">mdi-import</v-icon>
        <div class="stats-counter">{{ Math.abs(overview.deficit) }}</div>
        <div class="stats-subtitle">{{ deficitLabel }}</div>
        <div v-if='!$vuetify.breakpoint.xsOnly'>
          <v-progress-linear
            color="ufabcnext-red"
            height="6"
            value="100"
            style="border-radius: .25rem;"
          ></v-progress-linear>
        </div>
      </v-flex>
  
    </v-layout>
    <v-layout column wrap class="white mt-3 pa-4" style="border-radius: 4px;">
      <div class="enrollments-title stats-counter">Status da matrícula</div>
     
  
      <el-tabs v-model="tab">
        <el-tab-pane label="Disciplinas" name="disciplines">
        </el-tab-pane>
      </el-tabs>
  
      <v-layout class="enrollments-subtitle stats-subtitle mb-2" v-if='total >= 0 && !loading' wrap align-center>
        <v-flex> 
          {{ total }} resultados encontrados
        </v-flex> 
  
        <el-select v-model="orderby" placeholder="Ordenar por" :style="{ 'minWidth': $vuetify.breakpoint.xsOnly ? '100%' : '200px' }">
          <el-option
            v-for="order in orders"
            :key="order.value"
            :label="order.label"
            :value="order.value">
          </el-option>
        </el-select>
      </v-layout>
  
      <el-table
        empty-text="Nenhum dado encontrado"
        ref="disciplinas"
        v-loading='loading'
        :data="disciplinas"
        style="width: 100%">
        <el-table-column
          fixed="left"
          min-width="200"
          label="Nome">
          <template slot-scope="scope">
            {{ matriculaNameLabel(scope.row)}}
          </template>
        </el-table-column>
        <el-table-column
          prop="vagas"
          label="Vagas"
          align="center"
          width="150">
        </el-table-column>
        <el-table-column
          prop="requisicoes"
          label="Requisições"
          align="center"
          width="150">
        </el-table-column>
        <el-table-column
          prop="deficit"
          label="Deficit"
          align="center"
          width="150">
        </el-table-column>
        <el-table-column
          prop="ratio"
          label="Pessoas por vaga"
          align="center"
          width="160">
          <template slot-scope="scope">
            {{ scope.row.ratio.toFixed(2)}}
          </template>
        </el-table-column>
      </el-table>
      <el-button class="load-more" @click="fetch(true)" v-if='more' :loading="moreLoading">
        Carregar mais <i class="el-icon-arrow-down el-icon-right"></i>
      </el-button>
    </v-layout>
  </v-container>