@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

#calengrade * {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

#calengrade {
  height: 100%;
  background: #006633;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

#calengrade input,
#calengrade button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #444444;
}

#calengrade .logo {
  max-height: 50px;
  margin-bottom: 20px;
  /* align-self: flex-start; */
}

#calengrade .app {
  max-width: 800px;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 16px 16px 16px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

#calengrade .content {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#calengrade .footerMessage {
  margin-top: 20px;
  text-align: center;
}

#calengrade .footerMessage span {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
}

#calengrade .footerMessage a {
  color: #ffffff;
  font-size: 16px;
  margin-top: 20px;
  text-decoration: none !important;
}

#calengrade .footerMessage a:hover {
  text-decoration: underline;
  color: #ffcc00;
}

#calengrade img {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
}

#calengrade a {
  color: #444;
  text-decoration: underline;
}

#calengrade a:hover {
  text-decoration: none;
  color: #ffcc00;
}

#calengrade h1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}

#calengrade h2 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}

#calengrade button {
  border: 0;
  border-radius: 5px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #ffcc00;
  color: #444444;
  cursor: pointer;
}

#calengrade button:hover,
#calengrade button:focus {
  background: #dfb200;
  color: #444;
}

#calengrade .twoButtons {
  width: 100%;
}

#calengrade .twoButtons button:first-child {
  margin-bottom: 8px;
  background: #006633;
  color: #fff;
}

#calengrade table {
  width: 100%;
  max-width: 400px;
  font-size: 14px;
  background-color: #eee;
  border-radius: 0 0 5px 5px;
  padding: 0px 10px 10px 10px;
}

#calengrade thead,
#calengrade th {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 16px;
}

#calengrade caption {
  font-size: 16px;
  font-weight: 700;
  background-color: #eee;
  border-radius: 5px 5px 0 0;
  padding: 10px 0px 0px 0px;
}

#calengrade tfoot {
  font-weight: 700;
  font-size: 16px;
}

#calengrade tbody > tr > td {
  padding-top: 8px;
}

#calengrade tfoot > tr > td {
  padding-top: 24px;
}

#calengrade tr {
  padding-bottom: 30px;
}

#calengrade h3 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
}

#calengrade .summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#calengrade textarea {
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* height: 150px; */
  padding: 8px;
  width: 100%;
  flex-grow: 1;
}

#calengrade p {
  font-size: 14px;
  text-align: center;
  margin: 8px 0 8px 0;
}

#calengrade .info {
  color: steelblue;
}

#calengrade .error {
  color: indianred;
}

#calengrade .quadri {
  text-decoration: none !important;
  color: #444;
}

#calengrade button.quadri {
  background: none;
  font-weight: normal;
  height: unset;
}

#calengrade input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

#calengrade input[type='date']::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

#calengrade input,
#calengrade select {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  height: 45px;
  padding: 0 15px;
  font-size: 14px;
  cursor: pointer;
  color: #444;
  width: 100%;
  margin-bottom: 8px;
}

#calengrade *:disabled {
  background-color: #ddd;
  cursor: auto;
}

#calengrade label {
  font-size: 14px;
  font-weight: bold;
  color: #444;
  line-height: 30px;
}
