<div style="background-color: white; height: 100%; width: 100%;">
  <v-container column style="background-color: white; height: 100%; width: 100%;">
    <v-layout row wrap style="width: 100%; flex: none; margin-top: 12px;">
      <img style="max-width: 200px; height: auto;" src="@/assets/logo.svg" />
    </v-layout>

    <v-layout v-loading="loading" row wrap style="width: 100%; flex: 1 1 auto;">
        <!-- Art -->
        <v-flex sm12 md7 lg7>
          <transition name="slide-x-transition" mode="out-in"> 
            <img style="max-width: 100%; height: auto; padding: 24px;" src="@/assets/recovery.svg" />
          </transition>
        </v-flex>

        <v-flex sm12 md5 lg5 :class="$vuetify.breakpoint.smAndUp ? 'mt-5' : ''">
          <v-layout column fill-width v-if='wasRecovered === 2'>
              <div class="step-title mb-2">
                Sua conta será recuperada! 🎉
              </div>

              <div>
                Você recebeu um email para recuperar sua conta, <span @click="openUFABCMail()" class="cursor-pointer ufabcnext-link--text">clique aqui</span> para acessar seu email institucional.
              </div>

                <el-alert
                  type="warning"
                  class="my-3"
                  :closable="false"
                  show-icon>
                  <slot name="title">
                    <div class="pa-2">
                      Caso você não tenha recebido o email de recuperação de conta, envie uma DM para nosso <a href="https://www.instagram.com/ufabcnext/?hl=pt-br">Instagram</a> e te atenderemos!
                      <br /><br />
                      Não esqueça de informar seu RA e email institucional
                    </div>
                  </slot>
              </el-alert>

              <v-btn color="ufabcnext-link" class="mt-3" style="color: white; width: 200px;" round large @click="$router.push('/')">
                Voltar para a home >
              </v-btn>
          </v-layout>

          <v-layout column fill-width v-else-if="wasRecovered === 1">
              <div class="step-title mb-2">
                Criou uma conta no Next e não consegue acessar?
              </div>
              <div class="step-subtitle mb-2">Insira seu email institucional</div>
              <v-form v-model="validEmail">
                <v-text-field
                  placeholder="seu.email@aluno.ufabc.edu.br"
                  v-model="email"
                  name="studentEmail"
                  v-validate="'required|regex:^[A-Za-z0-9._%+-]+@aluno\.ufabc\.edu\.br$'"
                  data-vv-as="email institucional"
                  :error-messages="errors.collect('studentEmail')"
                  solo
                >
                </v-text-field>
              </v-form>
          </v-layout>

          <v-layout column fill-width v-else-if='wasRecovered === 3'>
            <div class="step-title mb-2">
              Não foi possível recuperar sua conta 😔
            </div>

            <div>
              Mas calma, nem tudo está perdido!
            </div>

              <el-alert
                type="warning"
                class="my-3"
                :closable="false"
                show-icon>
                <slot name="title">
                  <div class="pa-2">
                    O time do UFABC Next está trabalhando para resolver seu problema e continuar te ajudando na sua jornada pela UFABC.
                    <br /><br />
                    Envie uma DM para nosso <a href="https://www.instagram.com/ufabcnext/?hl=pt-br">Instagram</a> e te atenderemos!
                    <br />
                    Não esqueça de informar RA e e-mail institucional.
                    <br /><br />
                    Aproveite e conheça o projeto no <a href="https://github.com/ufabc-next/ufabc-next-web">GitHub</a>, sua ajuda será bem-vinda! 
                  </div>
                </slot>
            </el-alert>

            <v-btn color="ufabcnext-link" class="mt-3" style="color: white; width: 200px;" round large @click="$router.push('/')">
              Voltar para a home >
            </v-btn>
        </v-layout>

        </v-flex>
      </v-layout>

      <v-layout align-end row style="width: 100%; flex: none; height:57px;" >
        <v-flex sm7 md7 lg7>
        </v-flex>
        <v-flex v-show="wasRecovered === 1" sm5 md5 lg5 class="border-top" style="display: flex;">
          <v-btn flat round large class="mr-2" @click="$router.go(-1)">
            < Anterior
          </v-btn>
          <v-flex></v-flex>
          <v-btn style="background-color: #00EB5E; color: white;" :disabled="disableBtn" round large @click="next()">
            Próximo >
          </v-btn>
        </v-flex>
      </v-layout>
  </v-container>
</div>