
<div class="column flex mx-4 mt-3 mb-4 ra-1" >
  <v-layout class="card-group-stats mb-4" row style="min-height: 145px; flex: none" :class="{ 'wrap': !$vuetify.breakpoint.lgOnly }">
    <v-flex xs12 sm3 md3 lg3 class="card-stats" >
      <v-icon class="mb-1" color="ufabcnext-green" style="display: block;">mdi-chart-line-variant</v-icon>
      <div class="stats-counter">
        {{getUserMaxCr}}
      </div>
      <div class="stats-subtitle">Seu maior CR até hoje</div>
      <div v-if='!$vuetify.breakpoint.xsOnly'>
        <v-progress-linear
          color="ufabcnext-green"
          height="6"
          value="100"
          style="border-radius: .25rem;"
        ></v-progress-linear>
      </div>
    </v-flex>

    <v-flex xs12 sm3 md3 lg3 class="card-stats">
      <v-icon class="mb-1" color="ufabcnext-blue" style="display: block;">mdi-chart-bell-curve</v-icon>
      <div class="stats-counter">{{targetCrStudent && targetCrStudent.total || '0'}} alunos</div>
      <div class="stats-subtitle">Possuem um CR muito próximo ao seu</div>
      <div v-if='!$vuetify.breakpoint.xsOnly'>
        <v-progress-linear
          color="ufabcnext-blue"
          height="6"
          value="100"
          style="border-radius: .25rem;"
        ></v-progress-linear>
      </div>
    </v-flex>

    <v-flex xs12 sm3 md3 lg3 class="card-stats">
      <v-icon class="mb-1" color="ufabcnext-nav-blue" style="display: block;">mdi-trophy-outline</v-icon>
      <div class="stats-counter">{{bestQuad.season}} / <span class="f-16">{{bestQuad.period_credits}} </span>
        <span class="stats-subtitle f-16">créditos</span>
      </div>
      <div class="stats-subtitle">Seu melhor quadrimestre
        <el-tooltip class="item" effect="dark" content="Foi o quadrimestre em que você tirou suas melhores notas" placement="top">
          <v-icon small color="ufabcnext-darkgrey" class="cursor-pointer">mdi-information-outline</v-icon>
        </el-tooltip>
      </div>
      <div v-if='!$vuetify.breakpoint.xsOnly'>
        <v-progress-linear
          color="ufabcnext-nav-blue"
          height="6"
          value="100"
          style="border-radius: .25rem;"
        ></v-progress-linear>
      </div>
    </v-flex>

    <v-flex xs12 sm3 md3 lg3 class="card-stats">
      <v-icon class="mb-1" color="ufabcnext-yellow" style="display: block;">mdi-fire</v-icon>
      <div class="stats-counter">{{maxCreditsQuad.period_credits}} <span class="stats-subtitle">créditos</span> / 
      <span class="f-16">{{maxCreditsQuad.season}}</span>
      </div>
      <div class="stats-subtitle">Quadrimestre com mais créditos</div>
      <div v-if='!$vuetify.breakpoint.xsOnly'>
        <v-progress-linear
          color="ufabcnext-yellow"
          height="6"
          value="100"
          style="border-radius: .25rem;"
        ></v-progress-linear>
      </div>
    </v-flex>
  </v-layout>
  
  <div v-loading="crHistoryLoading" class="flex mb-4 column ra-1 elevate-2 pa-3 white">
    <span class="chart-title">Seu CR ao longo do tempo</span>
    <ve-line v-if="crHistoryOptions && crHistoryOptions.rows.length" :data="crHistoryOptions" :settings="crHistorySettings" :xAxis="crHistoryxAxis" :yAxis="crHistoryyAxis"></ve-line>
  </div>

  <div v-loading="crDistributionLoading" class="flex column ra-1 elevate-2 pa-3 white">
    <span class="chart-title">Distribuição de CR</span>
    <span class="f-12 ufabcnext-darkgrey--text">Os dados são baseados apenas nos alunos que utilizam a extensão</span>
    <ve-line :data="crDistributionOptions" :mark-point="markPoint" :xAxis="crDistributionxAxis" :yAxis="crDistributionyAxis" :settings="crDistributionSettings"></ve-line>
  </div>
</div>