
<div class="column flex mx-4 mt-3 mb-4 ra-1" >
  <v-layout v-if="crHistoryOptions.rows.length" class="card-group-stats mb-4" row style="min-height: 145px; flex: none" :class="{ 'wrap': !$vuetify.breakpoint.lgOnly }">
    <v-flex xs12 sm3 md3 lg3 class="card-stats" >
      <v-icon class="mb-1" color="ufabcnext-green" style="display: block;">mdi-chart-line-variant</v-icon>
      <div class="stats-counter">
        {{getUserMaxCr}}
      </div>
      <div class="stats-subtitle">Seu maior CR até hoje</div>
      <div v-if='!$vuetify.breakpoint.xsOnly'>
        <v-progress-linear
          color="ufabcnext-green"
          height="6"
          value="100"
          style="border-radius: .25rem;"
        ></v-progress-linear>
      </div>
    </v-flex>

    <v-flex xs12 sm3 md3 lg3 class="card-stats">
      <v-icon class="mb-1" color="ufabcnext-blue" style="display: block;">mdi-chart-bell-curve</v-icon>
      <div class="stats-counter">{{targetCrStudent && targetCrStudent.total || '0'}} alunos</div>
      <div class="stats-subtitle">Possuem um CR muito próximo ao seu</div>
      <div v-if='!$vuetify.breakpoint.xsOnly'>
        <v-progress-linear
          color="ufabcnext-blue"
          height="6"
          value="100"
          style="border-radius: .25rem;"
        ></v-progress-linear>
      </div>
    </v-flex>

    <v-flex xs12 sm3 md3 lg3 class="card-stats">
      <v-icon class="mb-1" color="ufabcnext-nav-blue" style="display: block;">mdi-trophy-outline</v-icon>
      <div class="stats-counter">{{bestQuad.season}} / <span class="f-16">{{bestQuad.period_credits}} </span>
        <span class="stats-subtitle f-16">créditos</span>
      </div>
      <div class="stats-subtitle">Seu melhor quadrimestre
        <el-tooltip class="item" effect="dark" content="Foi o quadrimestre em que você tirou suas melhores notas" placement="top">
          <v-icon small color="ufabcnext-darkgrey" class="cursor-pointer">mdi-information-outline</v-icon>
        </el-tooltip>
      </div>
      <div v-if='!$vuetify.breakpoint.xsOnly'>
        <v-progress-linear
          color="ufabcnext-nav-blue"
          height="6"
          value="100"
          style="border-radius: .25rem;"
        ></v-progress-linear>
      </div>
    </v-flex>

    <v-flex xs12 sm3 md3 lg3 class="card-stats">
      <v-icon class="mb-1" color="ufabcnext-yellow" style="display: block;">mdi-fire</v-icon>
      <div class="stats-counter">{{maxCreditsQuad.period_credits}} <span class="stats-subtitle">créditos</span> / 
      <span class="f-16">{{maxCreditsQuad.season}}</span>
      </div>
      <div class="stats-subtitle">Quadrimestre com mais créditos</div>
      <div v-if='!$vuetify.breakpoint.xsOnly'>
        <v-progress-linear
          color="ufabcnext-yellow"
          height="6"
          value="100"
          style="border-radius: .25rem;"
        ></v-progress-linear>
      </div>
    </v-flex>
  </v-layout>
  
  <div v-if="crHistoryOptions.rows.length" v-loading="crHistoryLoading" class="flex mb-4 column ra-1 elevate-2 pa-3 white">
    <span class="chart-title">Seu CR ao longo do tempo</span>
    <ve-line v-if="crHistoryOptions && crHistoryOptions.rows.length" :data="crHistoryOptions" :settings="crHistorySettings" :xAxis="crHistoryxAxis" :yAxis="crHistoryyAxis"></ve-line>
  </div>

  <div v-if="cpHistoryOptions.rows.length" v-loading="cpHistoryLoading" class="flex mb-4 column ra-1 elevate-2 pa-3 white">
    <span class="chart-title mb-2">Seu CP ao longo do tempo</span>
    <el-select 
      v-model="cpSelectedHistory"
      @change="updateCpHistory()"
      placeholder="Curso"
      :style="{ 'minWidth': $vuetify.breakpoint.xsOnly ? '100%' : '200px', 'maxWidth': '300px' }">
      <el-option
        v-for="history in cpHistories"
        :key="history._id"
        :label="history.curso"
        :value="history._id">
      </el-option>
    </el-select>
    <ve-line v-if="cpHistoryOptions && cpHistoryOptions.rows.length" :data="cpHistoryOptions" :settings="cpHistorySettings" :xAxis="cpHistoryxAxis" :yAxis="cpHistoryyAxis"></ve-line>
  </div>

  <div v-if="crHistoryOptions.rows.length" v-loading="crDistributionLoading" class="flex column ra-1 elevate-2 pa-3 white">
    <span class="chart-title">Distribuição de CR</span>
    <span class="f-12 ufabcnext-darkgrey--text">Os dados são baseados apenas nos alunos que utilizam a extensão</span>
    <div class="row align-center justify-middle mb-3">
      <div class="f-14 py-2 px-4" style="background-color: #8E2DE2; color: white; border-radius: 30px;">Seu CR é maior do que o de {{worstCrsPercentage}}% dos alunos</div>
    </div>
    <ve-line :data="crDistributionOptions" :mark-point="markPoint" :xAxis="crDistributionxAxis" :yAxis="crDistributionyAxis" :settings="crDistributionSettings"></ve-line>
  </div>

  <center v-if="!crHistoryOptions.rows.length && !crHistoryLoading && !crDistributionLoading" class="mt-5">
    <h2>Parece que não encontramos os dados do seu histórico :( <br />
      É necessário instalar a <a href="https://chrome.google.com/webstore/detail/ufabc-matricula/gphjopenfpnlnffmhhhhdiecgdcopmhk" style="text-decoration: none;" target="_blank">extensão</a> e acessar a tela de Fichas Individuais no <a href="https://aluno.ufabc.edu.br/fichas_individuais" target="_blank" style="text-decoration: none;">Portal do Aluno.</a></h2>
    <img src="@/assets/missing_history.svg" width="100%" />
  </center>
</div>