<div>
{{# component.teoria }}
  <div class="col-md-12 isTeacherReview ufabc-extension-prof ufabc-well ufabc-transparent" style="margin-top: 6px;"> Teoria: <a class="ReviewTeacher Help" data="{{ component.teoria._id }}" teacherName="{{ component.teoria.name }}" style="cursor: pointer;">{{ component.teoria.name }}</a>
  </div>
{{/ component.teoria }}

{{# component.pratica }}
  <div class="col-md-12 isTeacherReview ufabc-extension-prof ufabc-well ufabc-transparent" style="margin-top: 6px;"> Prática: <a class="ReviewTeacher Help" data="{{ component.pratica._id }}" teacherName="{{ component.pratica.name }}" style="cursor: pointer;">{{ component.pratica.name }}</a>
  </div>
{{/ component.pratica }}
</div>
