<div>
  {{# component.teoria }}
    <div class="col-md-12 isTeacherReview ufabc-extension-prof ufabc-well ufabc-transparent" style="margin-top: 6px;"> Teoria: <a class="ReviewTeacher Help" data="{{ component.teoriaId }}" teacherName="{{ component.teoria }}" style="cursor: pointer;">{{ component.teoria }}</a>
    </div>
  {{/ component.teoria }}
  
  {{# component.pratica }}
    <div class="col-md-12 isTeacherReview ufabc-extension-prof ufabc-well ufabc-transparent" style="margin-top: 6px;"> Prática: <a class="ReviewTeacher Help" data="{{ component.praticaId }}" teacherName="{{ component.pratica }}" style="cursor: pointer;">{{ component.pratica }}</a>
    </div>
  {{/ component.pratica }}
  </div>