<div>
{{# disciplina.teoria }}
  <div class="col-md-12 isTeacherReview ufabc-extension-prof ufabc-well ufabc-transparent" style="margin-top: 6px;"> Teoria: <a class="ReviewTeacher" data="{{ disciplina.teoria._id }}" teacherName="{{ disciplina.teoria.name }}" style="cursor: pointer;">{{ disciplina.teoria.name }}</a>
  </div>
{{/ disciplina.teoria }}

{{# disciplina.pratica }}
  <div class="col-md-12 isTeacherReview ufabc-extension-prof ufabc-well ufabc-transparent" style="margin-top: 6px;"> Prática: <a class="ReviewTeacher" data="{{ disciplina.pratica._id }}" teacherName="{{ disciplina.pratica.name }}" style="cursor: pointer;">{{ disciplina.pratica.name }}</a>
  </div>
{{/ disciplina.pratica }}  
</div>